
body
{
 color:black;

}

h1
{
  color: red;
  text-align: center;
  font-size: 70px;
}

h2
{
  text-align: left;
  font-size: 48px;
  padding: 40px 90px;
  color: red;
}

h3
{
  font-size: 48px;
  text-align: left;
  padding: 40px 90px;
  color: red;
}

p
{
 text-align: left;
 font-size:32px;
 padding: 0px 100px;
 letter-spacing: normal;
 line-height: normal;
 color: darkred;
}
